
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8f8;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

  header {
    padding: 25px;
    background-color: black;
  }
  
  .navLink {
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    color: dodgerblue;
  }
  

  .login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 40px;
    background-color: #ffffff;
    z-index: 2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-modal button,
  .login-modal input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: dodgerblue;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-modal button:hover,
  .login-modal input[type="submit"]:hover {
    background-color: darkblue;
  }
  
  .login-modal input[type="email"],
  .login-modal input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-modal form {
    display: flex;
    flex-direction: column;
  }