/* ========= Body ========= */

html {
  padding: 2rem;
  background-color: #333435f5;
  
}

body {
  background-color: transparent;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  overflow-y: auto;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #d0dbf8;
}

div > span {
  min-width: 45px;
}

/* ========= Error ========= */

#error h1 {
  margin: 0;
}

#error {
  background-color: #800000;
  color: #eee;
  font-weight: bold;
  padding: 35px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;

}

/* ========= Header ========= */

header {
  padding: 25px;
  background-color: #d0dbf8;
  border: 10px solid #1e58ff;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
}

nav.hidden {
  height: 20px;
}

.hidden {
  visibility: hidden;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  color: #1e58ff;
}

.navLink:hover {
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

/* ========= Stats ========= */

#logout, #saveGame, #checkSolution, #reset, #newPuzzle {
  border: 5px solid #1e58ff;
  background-color: #1e58ff;
  border-radius: 5px;
  color: #d0dbf8;
  font-weight: bold;
  width: 100px;
  margin: 10px;
}

#logout {
  border: 5px solid #c50606;
  background-color: #c50606;
}

#logout:hover {
  border: 5px solid #1e58ff;
  background-color: #1e58ff;
}

.user-info {
  margin-right: 20px;
}

#stats {
  width: 100%;
  height: 100%;
  grid-row: 1 / span 1;
  grid-column: 2 / span 4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#saveGame:hover {
  border: 5px solid #05a405;
  background-color: #05a405;
}

#reset:hover {
  border: 5px solid #000;
  background-color: #000;
}

#newPuzzle:hover {
  border: 5px solid #8e07bb;
  background-color: #8e07bb;
}

#checkSolution:hover {
  border: 5px solid #cb4409;
  background-color: #cb4409;
}

/* ========= Game Board ========= */

#gameboard {
  width: 100%;
  height: 100%;
  grid-row: 2 / span 4;
  grid-column: 2 / span 4;
}

#sudoku-table {
  height: 540px;
  width: 540px;
  border: 4px solid black;
  border-radius: 7px;
  background-color: black;
  margin: 1.9% auto;
}

#sudoku-table td {
  background-color: #1eb5ff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 50px;
  height: 40px;
}

#sudoku-table td.border-right {
  border-right: 4px solid black;
  border-right: 4px solid black !important;
}

#sudoku-table td.border-top {
  border-top: 4px solid black;
  border-top: 4px solid black !important;
}

.sudoku-input {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 45px;
  height: 45px;
}

#sudoku-table td.red {
  border: 1px solid #ff0000;
  background-color: #ff0000;
}

#playfield {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  margin: auto;
  height: 725px;
  background-color: #d0dbf8;
  border: 10px solid #1e58ff;
  border-radius: 10px;
}

div#playfield .playfield-elements {
  border: 2px solid #1e58ff;
}

div#sidebar ul li span.dataTitle {
  font-weight: bold;
}

#sidebar {
  width: 100%;
  /* height: 100%; */
  border: 2px solid green;
  grid-row: 1 / span 5;
  grid-column: 1 / span 1;
}

#sidebar li {
  color: #1e58ff;
  list-style: none;
  margin: 15px 0;
}

#sidebar h3 {
  padding-left: 4px;
}

#sidebar {
  font-size: 1.2rem;
}

#sidebar ul {
  padding-inline-start: 5px;
}

.bold-text {
  font-weight: bold;
}

/* ========= Easter Egg ========= */

#goldstar {
  display: block;
  margin: auto;
  margin-top: 5rem;
  width: 500px;
  z-index: 10;
}

#loadingText {
  text-align: center;
  margin-top: 5rem;
}

/* ========= Instructions ========= */

article {
  background-color: #d0dbf8;
  padding: 25px 50px;
  text-align: justify;
  margin: 25px;
  border-radius: 10px;
  border: 10px solid #1e58ff;
}

#instructions, #leaders {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 25px 20%;
}

#instructions p {
  color: #1e58ff;
  font-size: 21px;
  font-weight: 500;
}

#instructions article.img-article {
  text-align: center;
}

.img-article img {
  max-width: 90%;
}

#leaders ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
}

#leaders li {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 21px;
  font-weight: 500;
  margin: 25px 0;
}

/* ========= Your Puzzles ========= */

.saved-puzzles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  #logout {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .sudoku-input {
    width: 35px;
    height: 35px;
  }
  #sudoku-table {
    height: 450px;
    width: 450px;
    margin: 12% auto 0;
  }
  #sudoku-table td {
    font-size: 1rem;
  }
  #sidebar li, .navLink {
    font-size: 12px;
  }
  #sidebar ul {
    /* padding-left: 2rem; */
    padding: 0 5px;
  }
  #sidebar h3 {
    font-size: large;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
  }
  .navLink {
    margin: 0 5px;
  }
  header {
    padding: 0;
  }
  #logout {
    height: 27.5px;
  }
  #instructions, #leaders {
    padding: 0 0 100px 0;
  }
  article {
    margin: 25px 0;
  }
}

@media (max-width: 680px) {
  #sudoku-table {
    height: 300px;
    width: 300px;
  }
  #sudoku-table td, #sudoku-table td input {
    font-size: 0.8rem;
    width: 25px;
    height: 25px;
  } 
  #sidebar h3 {
    font-size: 14px;
  }
}

@media (max-width:550px) {
  #sudoku-table {
    height: 275px;
    width: 275px;
    margin: 5% auto;
  }
  #sudoku-table td {
    font-size: 12px;
    width: 15px;
    height: 20px;
  }

  #sudoku-table td input {
    font-size: 12px;
    width: 15px;
    height: 15px;
  }
  #playfield {
    display: flex;
    flex-direction: column;
  }
  #stats {
    order: 1;
    height: 75%;
  }
  #goldstar {
    width: 600px;
    position: absolute;
    margin: auto;
  }
  #gameboard {
    order: 2;
  }
  #sidebar {
    order: 3;
    text-align: center;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h1, h2 {
    text-align: center;
  }
  article {
    padding: 25px;
  }
}

@media (max-width: 400px) {
  html {
    padding: 2rem 0;
  }
  body {
    width: 80%;
    min-width: 300px;
  }
  #stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #logout, #saveGame, #checkSolution, #reset, #newPuzzle {
    font-weight:300;
    width: 93px;
  }
  .navLink {
    width: 83px;
  }
}